@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img style="width:100%;" src="https://www.mujerde10.com/wp-content/uploads/2015/08/portada-maquillaje1-1024x465.jpg" alt="image" />
</div>

<section class="horizontal-search">
    <div class="container">
        <div class="">
            <div class="search-form">
                <form action="properties.html" method="get" class="form-inline">
                    <div class="search-form-content ">
                        <div class="search-form-field">
                            <div class="form-group col-xs-12 col-sm-3 col-md-1">

                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-5">
                                <div class="label-select">
                                    <select class="form-control" name="s_location">
                                        <option>All Products</option>
                                        <option>Nail polish</option>
                                        <option>Crèmes</option>
                                        <option>Ecran Solaire</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-1">

                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-4">
                                <div class="label-select">
                                    <select class="form-control" name="s_cat">
                                        <option>All Categories </option>
                                        <option>Nail polish</option>
                                        <option>Crèmes</option>
                                        <option>Ecran solaire</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">

                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">

                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">

                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <span class="gprice-label">Price</span>
                                <input type="text" class="span2" value="" data-slider-min="0"
                                       data-slider-max="600" data-slider-step="5"
                                       data-slider-value="[0,450]" id="price-range">
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">

                            </div>
                        </div>
                    </div>
                    <div class="search-form-submit">
                        <button type="submit" class="btn-search">Search</button>
                    </div>
                </form>
            </div><!-- Services Sec -->

        </div>
    </div>
</section>

<section class="block">
    <div style="background: url(~/Content/img/call-to-action-bg.jpg) repeat scroll 50% 422.28px transparent; background-attachment: fixed;" class="parallax scrolly-invisible  whitish"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="properties-text-bar">
                    <h3>Test <span> Properties </span>Quickly ! </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare porttitor diam<br /> a accumsan justo laoreet suscipit. Maecenas at bibendum nunc</p>
                    <a href="#" title="" class="flat-btn">Tester ICI!!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block">
    <div class="container">
        <div class="heading4">
            <h2>Nouveautés</h2>
            <span>Lorem ipsum dolor consectetu</span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="properties-sec">
                    <div class="row">
                        <!-- Ajouter les recents produits à partir de la base de données -->
                        <div class="col-md-4">
                            <div class="properties-box">
                                <div class="properties-thumb">
                                    <img src="~/Content/img/nail/property4.jpg" alt="" />
                                    <span class="spn-save"> <i class="ti ti-heart"></i> </span>
                                    <ul class="property-info">
                                        <li>
                                            <i class="fa  fa-retweet"> </i> <span>Nail Polish1 </span>
                                        </li>
                                    </ul>

                                    <a class="proeprty-sh-more" href="property.html"><i class="ti ti-share"> </i></a>

                                </div>
                                <h3><a href="property.html" title="">Nail Polish 1</a></h3>
                                <span class="rate-it">
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>
                                </span>
                            </div><!-- prop Box -->
                        </div>
                        <div class="col-md-4">
                            <div class="properties-box">
                                <div class="properties-thumb">
                                    <img src="~/Content/img/nail/property3.jpg" alt="" />
                                    <span class="spn-save"> <i class="ti ti-heart"></i> </span>
                                    <ul class="property-info">
                                        <li>
                                            <i class="fa  fa-retweet"> </i> <span>Nail polish 2 </span>
                                        </li>
                                    </ul>

                                    <a class="proeprty-sh-more" href="property.html"><i class="ti ti-share"> </i></a>

                                </div>
                                <h3><a href="property.html" title="The Helux villa">Nail polish 2</a></h3>

                                <span class="rate-it">
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>
                                </span>
                            </div><!-- prop Box -->
                        </div>
                        <div class="col-md-4">
                            <div class="properties-box">
                                <div class="properties-thumb">
                                    <img src="~/Content/img/nail/property2.jpg" alt="" />
                                    <span class="spn-save"> <i class="ti ti-heart"></i> </span>
                                    <ul class="property-info">
                                        <li>
                                            <i class="fa  fa-retweet"> </i> <span>Nail polish 3</span>
                                        </li>
                                    </ul>

                                    <a class="proeprty-sh-more" href="property.html"><i class="ti ti-share"> </i></a>

                                </div>
                                <h3><a href="property.html" title="The Helux villa">Nail polish 3</a></h3>
                                <span class="rate-it">
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>
                                </span>
                            </div><!-- prop Box -->
                        </div>
                        <div class="col-md-4">
                            <div class="properties-box">
                                <div class="properties-thumb">
                                    <img src="~/Content/img/nail/property4.jpg" alt="" />
                                    <span class="spn-save"> <i class="ti ti-heart"></i> </span>
                                    <ul class="property-info">
                                        <li>
                                            <i class="fa  fa-retweet"> </i> <span>Nail polish 4 </span>
                                        </li>
                                    </ul>

                                </div>
                                <h3><a href="property.html" title="The Helux villa">Nail polish 4</a></h3>
                                <span class="rate-it">
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>
                                </span>
                            </div><!-- prop Box -->
                        </div>
                        <div class="col-md-4">
                            <div class="properties-box">
                                <div class="properties-thumb">
                                    <img src="~/Content/img/nail/property5.jpg" alt="" />
                                    <span class="spn-save"> <i class="ti ti-heart"></i> </span>
                                    <ul class="property-info">
                                        <li>
                                            <i class="fa  fa-retweet"> </i> <span>Nail polish 5 </span>
                                        </li>
                                    </ul>

                                    <a class="proeprty-sh-more" href="property.html"><i class="ti ti-share"> </i></a>
                                </div>
                                <h3><a href="property.html" title="The Helux villa">Nail polish 5</a></h3>
                                <span class="rate-it">
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>
                                </span>
                            </div><!-- prop Box -->
                        </div>
                        <div class="col-md-4">
                            <div class="properties-box">
                                <div class="properties-thumb">
                                    <img src="~/Content/img/nail/property3.jpg" alt="" />
                                    <span class="spn-save"> <i class="ti ti-heart"></i> </span>
                                    <ul class="property-info">
                                        <li>
                                            <i class="fa  fa-retweet"> </i> <span>Nail polish 6 </span>
                                        </li>
                                    </ul>
                                    <a class="proeprty-sh-more" href="property.html"><i class="ti ti-share"> </i></a>

                                </div>
                                <h3><a href="property.html" title="The Helux villa">Nail polish 6</a></h3>
                                <span class="rate-it">
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                    <i title="nice" class="ti ti-star off star-off-png"></i>
                                </span>
                            </div><!-- prop Box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block">
    <div style="background: transparent url("~/Content/img/call-to-action-big.jpg") repeat scroll 50% 0px; background-attachment: fixed;" class="parallax scrolly-invisible  whitish"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading4">
                    <h2>OUR SPECIALISTS</h2>
                    <span>Lorem ipsum dolor</span>
                </div>
                <div class="agents-carousal-sec">
                    <ul class="carousel">
                        <li>
                            <div class="agent-content">
                                <a href="agent.html"><img src="~/Content/img/agents/agent1.jpg" alt="" /></a>
                                <h3>Dermatologue</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                                <div class="agent-social-wrap">
                                    <div class="social-list agent-social">
                                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="agent-content">
                                <a href="agent.html"><img src="~/Content/img/agents/agent3.jpg" alt="" /></a>
                                <h3>Conseillère en image</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                                <div class="agent-social-wrap">
                                    <div class="social-list agent-social">
                                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="agent-content">
                                <a href="agent.html"><img src="~/Content/img/agents/agent5.jpg" alt="" /></a>
                                <h3>Esthéticienne</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                                <div class="agent-social-wrap">
                                    <div class="social-list agent-social">
                                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="agent-content">
                                <a href="agent.html"><img src="~/Content/img/agents/agent4.jpg" alt="" /></a>
                                <h3>SUPER AGENT</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                                <div class="agent-social-wrap">
                                    <div class="social-list agent-social">
                                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="agents-carousal-sec">
                    <div class="heading4">
                        <h2>OUR PARTNERS </h2>
                        <span>Lorem ipsum dolor</span>
                    </div>
                    <div class="our-clients-sec">
                        <ul class="carousel-client">
                            <li>
                                <a href="#" title=""><img src="~/Content/img/clients/our-client1.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#" title=""><img src="~/Content/img/clients/our-client2.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#" title=""><img src="~/Content/img/clients/our-client3.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#" title=""><img src="~/Content/img/clients/our-client4.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#" title=""><img src="~/Content/img/clients/our-client5.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#" title=""><img src="~/Content/img/clients/our-client1.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#" title=""><img src="~/Content/img/clients/our-client3.jpg" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>